.DS_Store
.vscode
.dvt
dvt_build.log
build/
test.bin

*.bak
hw/proc_verification/firmware/*.vh
hw/quartus
!hw/quartus/Doomed.qpf
!hw/quartus/Doomed.qsf
!hw/quartus/Doomed.cdf
!hw/quartus/Doomed.sdc

*.wad

*.cr.mti
*.mpf
*/work/

hw/alu_extensions/554_project.cr.mti
hw/alu_extensions/554_project.mpf
hw/alu_extensions/work/

hw/alu_extensions/quarts/*
hw/alu_extensions/modelsim

!hw/alu_extensions/quarts/wrap.qpf
!hw/alu_extensions/quarts/wrap.qsf
!hw/alu_extensions/quarts/wrap.sdc
!hw/alu_extensions/quarts/wrap.sv
!hw/alu_extensions/quarts/rst_synch.sv

hw/vsim
